.cover__backgraund {
  width: 100%;
  margin-top: calc(-217px - 245px - 32px);
  z-index: -2;
}

@media screen and (max-width: 1279px) {
  .cover__backgraund {
    margin-top: calc(-218px - 195px - 32px);
  }
}

@media screen and (max-width: 1023px) {
  .cover__backgraund {
    margin-top: calc(-218px - 115px - 32px);
  }
}

@media screen and (max-width: 767px) {
  .cover__backgraund {
    margin-top: -185px;
  }
}