.footer__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin-right: 18px;
  text-decoration: none;
  width: auto;
}

@media screen and  (max-width: 767px) {
  .footer__link {
    font-size: 7.5vw;
    line-height: 100%;
  }

  .footer__link:nth-last-child(n+2) {
    margin-bottom: 32px;
  }
}